</main>

<footer class="page-footer black lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Info del Desarrolador Web:</h5>
                <ul class="grey-text text-lighten-4">
                    <li>
                        Alumno: Rocchi, Lautaro
                    </li>
                    <li>
                        Materia: Aplicaciones Hibridas
                    </li>
                    <li>
                        Profesor: Brian Esteban Lara Campos
                    </li>
                    <li>
                        Año de cursada: 2022
                    </li>
                    <li>
                        <img src="/img/logo-full.png" alt="logo version full" class="col s4 responsive-img">
                    </li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links de Redes Sociales</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3"
                            href="mailto:lautaro.rocchi@davinci.edu.ar">Gmail</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3 " href="https://www.facebook.com/lautaro.rocchi">Facebook</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.instagram.com/lautarorocchi">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright deep-purple darken-1">
        <div class="container">
            <div> Lautaro Rocchi &copy; 2022</div><i class="fab fa-cc-paypal fa-3x grey-text text-lighten-3"></i>
            <i class="fab fa-linkedin fa-3x grey-text text-lighten-3"></i>
            <p class="grey-text text-lighten-4 right"> Todos los derechos reservados - Sitio Desarollado por
                Lautaro Rocchi</p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('.sidenav').sidenav();
    })

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
</body>

</html>