<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | Mi Portfolio
    </title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <nav class="deep-purple darken-1">
            <div class="nav-wrapper">
                <a href="/" class="logo">
                    <img src="/img/logo.png" alt="Mi Logo">
                    <h1 hidden> Mi Portfolio </h1>
                </a>
                <a href="/" class="brand-logo">Portfolio | Lautaro Rocchi</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#yo">Acerca de mi</a></li>
                    <li><a href="#estudios">Mis Estudios</a></li>
                    <li><a href="#tecnologias">Tecnologias</a></li>
                    <li><a href="#proyectos">Mis Proyectos</a></li>
                    <li><a href="/admin/projects">Administrar Proyectos</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#yo">Acerca de mi</a></li>
            <li><a href="#estudios">Mis Estudios</a></li>
            <li><a href="#tecnologias">Tecnologias</a></li>
            <li><a href="#proyectos">Mis Proyectos</a></li>
            <li><a href="/admin/projects">Administrar Proyectos</a></li>
        </ul>
    </header>

    <main>