<%- include('../Layouts/Header', {title: 'Lautaro Rocchi' }) %>
    <section class="container">
        <article class="row" id="yo">
            <h3 class="col s12 center-align">Acerca de mi</h3>
            <div class="col s12 m6 offset-m3">
                <div class="card panel hoverable">
                    <div class="card-image">
                        <img src="/img/lautaro.jpg" alt="Foto de Lautaro Rocchi">
                        <span class="card-title">Acerca de mi</span>
                    </div>
                    <div class="card-content">
                        <p>Hola! Me llamo <strong>Lautaro Rocchi tengo 21 años y soy Desarrollador FullStack</strong>,
                            hace cuatro años me dedico al Desarrollo Web. Actualmente estoy viviendo en
                            <strong>Argentina, Buenos Aires</strong> y en este portfolio contaré los más destacado
                            acerca de mi a nivel laboral y personal.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article class="row" id="estudios">
            <h3 class="col s12 center-align">Mis Estudios</h3>
            <div class="col s12 m6 offset-m3">
                <div class="card panel hoverable">
                    <div class="card-image">
                        <img src="/img/davinci.jpg" alt="Universidad Davinci">
                        <span class="card-title">Mis Estudios</span>
                    </div>
                    <div class="card-content">
                        <p>Mis estudios se forman en base al titulo secundario recibido en el 2018 en la institución
                            Colegio del Parque, actualmente estoy en el ultimo año de la carrera de <strong> Desarollo
                                Web en la Escuela Davinci.</strong></p>
                    </div>
                </div>
            </div>
        </article>

        <article class="row" id="tecnologias">
            <h3 class="col s12 center-align">Mis Tecnologias</h3>
            <div class="col s12 m6 offset-m3">
                <div class="card panel hoverable">
                    <div class="card-image">
                        <img src="/img/tecnologias.jpg" alt="Universidad Davinci">
                        <span class="card-title">Acerca de mi</span>
                    </div>
                    <div class="card-content">
                        <p>Mis conocimientos en tecnologias de desarollo web se basan en <strong>HTML5, CSS3,
                                Javascript, Php, Laravel, Vue Y Wordpress</strong> </p>
                    </div>
                </div>
            </div>
        </article>

        <article class="row" id="proyectos">
            <h3 class="col s12 center-align">Mis Proyectos</h3>

            <% for (let i=0; i < proyectos.length; i++) { %>
                <%- include('ListaPortfolio', {proyecto: proyectos[i]}) %>
                    <% } %>
        </article>
    </section>

<%- include('../Layouts/Footer') %>