<%- include('../Layouts/Header', {title: "Nuevo Proyecto" }) %>
    <h2 class="col s12 center-align submissions">Crear Proyecto Nuevo</h2>
    <div class="row">
        <form action="/admin/projects/nuevo" class="col s12" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" placeholder="Agregar nombre de sistema:" name="sistema" class="validate" required>
                    <label> Nombre del sistema:
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" placeholder="Agregar Descripción" name="description" class="validate"/>
                    <label> Descripción:
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field  col s12 m6 offset-m3">
                    <input type="text" placeholder="Agregar Link" name="link" class="validate" required/>
                    <label> Link de la imagen: </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input type="text" name="imagen" placeholder="Agregar Link de la Imagen" class="validate" required/>
                    <label> Imagen: </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <select name="publicar" id="postear" required>
                        <option value="" disabled selected>Mostrar Proyecto en el Inicio</option>
                        <option value="true">Si</option>
                        <option value="false">No</option>
                    </select>
                    <div class="input-field col s6">
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light col s12 m6 offset-m3 btn"><i
                        class="material-icons right">send</i>Enviar Proyecto</button>
        </form>
    </div>

    <%- include('../Layouts/Footer') %>