<%- include('../Layouts/Header', {title: "Editar Proyecto"}) %>

<form action="/admin/projects/<%= proyecto._id %>/publicar" method="post" enctype="application/x-www-form-urlencoded">
    <label> Id:
        <input type="text" readonly disabled value="<%= proyecto._id %>"/>
    </label>
    <select name="publicar" id="postear">
        <option value="true">Si</option>
        <option value="false">No</option>
    </select>
    <button type="submit" class="waves-effect waves-light col s12 m6 btn lime"><i
        class="material-icons right">send</i>Modificar Estado</button>
</form>

<%- include('../Layouts/Footer') %>